html{
	height:100%;
}
body{
	max-width: 1280px;
	font-family:"Pinyon Script", sans-serif;
	background-image: url('Assets/DuelBG.png');
	background-position: center;
	background-repeat:no-repeat; 
	background-size: cover;
	overflow-y: hidden;
	overflow-x:hidden;
	z-index: -5;

}

.makeSmall{
	width:38%;
	z-index: 1;
}



.arms{
	z-index: 5;
}

.buttons{
	height:45px;
 	width:100px;
 	margin:auto;
 	z-index: 5;
}

#startButton{
	font-size: 25px;
	margin-top: 15px;
	height:100px;
	width:100px;
	background-color:rgba(48, 204, 92, 0.3);
	border:none;
	border-radius: 50%;
}

#resetButton{
	font-size: 22px;
	margin-top: -30px;
	height:100px;
	width:100px;
	background-color:rgba(255, 238, 5, 0.3);
	border:none;
	border-radius: 50%;
	z-index: 10;

}

.answerInputs{
	float:center;
	text-align: center;
	margin:auto;
	z-index: 1;



}
#answerBox{
	position: relative;
	top:20px;
	text-align: center;
	font-size: 35px;
	margin:25px;
	height: 45px;
	width: 45px;
	background:transparent;
	border-radius: 25px;
	animation: fadein 1s;
	z-index: 20;
}

#answerBoxTwo{
	position: relative;
	top:20px;
	text-align: center;
	font-size: 35px;
	margin:25px;
	height: 45px;
	width: 45px;
	background:transparent;
	border-radius: 25px;
	animation: fadein 1s;
	z-index: 20;
}

.backGround{
	display:none;
}

.countDownDisplay{
	height:100px;
	width:100px;
	margin-left:50%;
}



div.buttons{
	display: block;
	text-align: center;
	z-index: 2;
}

.floorImg{
	position:relative;
	width:100%;
	bottom:50px;
	z-index: -5px;
}

.hideMe{
	display:none;

}

.images{
	position:absolute;
	height:400px;
	top:168px;
	left:0;
}


.leftImg{  /*--------left body--------*/
	position:relative;
	top:0px;
	left:50px;
	/*transition: transform .5s ease-in, top .5s linear;
	transition-delay: .25s;----*/
	z-index: 5;
}

.left{    /*-----------left arm--------*/
	position:absolute;
	top:112px;
	left:49px;
	transform: rotate(60deg);
	transition: transform .25s ease-out; /*--.25s ease-out for arm lift--*/
	z-index: 10;
}
/*--------.leftImgLose{  ----left body fall----
	transform: rotate(-80deg);
	top:200px;
}-----*/

.leftArmRotating{ /*-----transform: rotate(-5deg);-----arm lift fire---------*/
	transform:rotate(-5deg);
	
}

.leftImgDead{	
	position:relative;
	top:0px;
	left:50px;
	transition: transform .5s ease-in, top .5s linear;
	transition-delay: .25s;
	z-index: 5;
	margin:0;
}

.killLeft{
	transform: rotate(-80deg);
	top:200px
}

/*.leftSide{
	background-image:url("Assets/DuelingLeft.png");
	display:inline-block;
    background-repeat: no-repeat;
	background-position: top left;

}*/

.playerNameOne{
	font-size: 40px;
	position: relative;
	bottom:50px;
	float:left;
	margin-left: 15%;
	margin-bottom: 0px;
}

.playerNameTwo{
	font-size: 40px;
	position:relative;
	bottom:50px;
	float:right;
	margin-right: 15%;
	margin-bottom: 0px;
}


.playerNames{
	
}

.pointerLeft{
	position:relative;
	bottom:10px;
	float:left;
	margin-left:20px;
	height:40px;
	width:100px;
	transform: scaleX(-1);
	animation: fadein .5s;
}

.pointerRight{
	position:relative;
	bottom:10px;
	float:right;
	margin-right:20px;
	height:40px;
	width:100px;
	animation: fadein .5s;
}

.questionBoxDiv{
	margin: auto;
	margin-top:90px;
	border:2px solid black;
	height:100px;
	width:100px;
	border-radius: 50px;

	
}
.qBox{
	margin-top: 10px;
	font-size: 55px;
	text-align:center;
	z-index: 2;
}

.rightImg{   /*--------right body---------*/
	position:relative;
	top:0px;
	left:200px;
	z-index: 5;
}

.rightImgDead{
	position:relative;
	top:0px;
	left:200px;
	transition: transform .5s ease-in, top .5s linear, left .25s ease-out;
	transition-delay: .25s;
	z-index: 5;
	margin:0;
}

.killRight{
	transform: rotate(-90deg);
	top:290px;
	left:100px;
}


.right{  /*-----------right arm-----------*/
	position:absolute;
	top:113px;
	left:722px;
	transform: rotate(-60deg);
	transition: transform .25s ease-out;
	z-index: 10;
}



.rightArmRotating{
	transform:rotate(3deg);
}


.roundsBoxOne{
	position:relative;
	bottom:35px;
	clear:left;
	float:left;
	margin-left: 20%;
	margin-top:-15px;
}

.roundsBoxTwo{
	position:relative;
	bottom:35px;
	clear:right;
	float:right;
	margin-right: 22%;
	margin-top:-15px;
}

.roundsPOne{
	font-size: 20px;
	color:red;
}

.roundsPTwo{
	font-size:20px;
	color:blue;
}


.scoreBoxes{
}

.scoreBoxOne{
	display:none;
	
	
}

.scoreBoxTwo{
	display:none;
	
}

#winner{
	font-size: 50px;
	color:;
	padding-top:10px;
}
.winnerBox{
	border-radius: 25px;
	text-align: center;
	margin:auto;
	margin-top:60px;
	height:50px;
	width:800px;
	background-color:;
}



/*--------------animations-----------*/

@keyframes fadein {
	from{opacity:0;}
	to{opacity:1;}
}
