html{
	height:100%;
}
body{
	font-family:"Pinyon Script", sans-serif;
	background-image: url('Assets/DuelBG.png');
	background-position: center;
	background-repeat:no-repeat; 
	background-size: cover;
	overflow: hidden;
	z-index: -5;

}

img{
	width:38%;
	z-index: 1;
}

.leftImg{
	position:relative;
	top:0px;
	left:50px;
	transition: transform 1s ease-in, top 1s linear;
}


.rightImg{
	position:relative;
	top:0px;
	left:200px;
	
	padding-bottom:;
}

.images{
	position:absolute;
	height:400px;
	width:100%;
	top:22%;
	left:0;


}

.leftImgLose{
	transform: rotate(-90deg);
	top:150px;
}
.rightImgLose{

}

.arms{
	z-index: 5;
	

}

.left{
	position:absolute;
	top:112px;
	left:49px;
	transform: rotate(60deg);
	transition: transform .5s ease-out;
	z-index: 10;
	
}

.leftArmRotating{
	transform: rotate(-5deg);
}

.right{
	position:absolute;
	top:116px;
	left:730px;
	transform: rotate(-60deg);
	transition: transform .5s ease-out;
	z-index: 10;
}

.rightArmRotating{
	transform:rotate(3deg);
}



.buttons{
	height:45px;
 	width:100px;
 	margin:auto;
 	z-index: 5;
}

#startButton{
	font-size: 25px;
	margin-top: 15px;
	height:100px;
	width:100px;
	background-color:rgba(48, 204, 92, 0.3);
	border:none;
	border-radius: 50%;
}

#resetButton{
	font-size: 22px;
	margin-top: -30px;
	height:100px;
	width:100px;
	background-color:rgba(255, 238, 5, 0.3);
	border:none;
	border-radius: 50%;
	z-index: 10;

}

.answerInputs{
	float:center;
	text-align: center;
	margin:auto;
	z-index: 1;


}
#answerBox{
	position: relative;
	top:20px;
	text-align: center;
	font-size: 35px;
	margin:25px;
	height: 45px;
	width: 45px;
	background:transparent;
	border-radius: 25px;
}

#answerBoxTwo{
	position: relative;
	top:20px;
	text-align: center;
	font-size: 35px;
	margin:25px;
	height: 45px;
	width: 45px;
	background:transparent;
	border-radius: 25px;
}

.backGround{
	display:none;
}

.countDownDisplay{
	height:100px;
	width:100px;
	margin-left:50%;
}



div.buttons{
	display: block;
	text-align: center;
	z-index: 2;
}




.hideMe{
	display:none;
	
	
}

/*.leftSide{
	background-image:url("Assets/DuelingLeft.png");
	display:inline-block;
    background-repeat: no-repeat;
	background-position: top left;

}*/

.playerNameOne{
	font-size: 40px;
	position: relative;
	bottom:50px;
	float:left;
	margin-left: 15%;
	margin-bottom: 0px;
}

.playerNameTwo{
	font-size: 40px;
	position:relative;
	bottom:50px;
	float:right;
	margin-right: 15%;
	margin-bottom: 0px;
}


.playerNames{
	
}

.pointerLeft{
	position:relative;
	bottom:10px;
	float:left;
	margin-left:20px;
	height:35px;
	width:100px;
	transform: scaleX(-1);
}

.pointerRight{
	position:relative;
	bottom:10px;
	float:right;
	margin-right:20px;
	height:35px;
	width:100px;
}

.questionBoxDiv{
	margin: auto;
	margin-top:90px;
	border:2px solid black;
	height:100px;
	width:100px;
	border-radius: 50px;
	
}
.qBox{
	margin-top: 10px;
	font-size: 55px;
	text-align:center;
	z-index: 2;
	

}



.roundsBoxOne{
	position:relative;
	bottom:35px;
	clear:left;
	float:left;
	margin-left: 20%;
	margin-top:-15px;
}

.roundsBoxTwo{
	position:relative;
	bottom:35px;
	clear:right;
	float:right;
	margin-right: 22%;
	margin-top:-15px;
}

.roundsPOne{
	font-size: 20px;
	color:red;
	
	

	
}

.roundsPTwo{
	font-size:20px;
	color:blue;
	
	
}
.scoreBoxes{
	
	
}

.scoreBoxOne{
	display:none;
	
	
}

.scoreBoxTwo{
	display:none;
	
}

#winner{
	font-size: 50px;
	color:;
	padding-top:10px;
}
.winnerBox{
	border-radius: 25px;
	text-align: center;
	margin-left:25%;
	margin:auto;
	margin-top:60px;
	height:50px;
	width:30%;
	background-color:;
}



/*--------------animations-----------*/

@keyframes leftArmRotate {
	0% {}
	90% {}
	100% {}
}
